<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/base">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="解析，M3u8视频播放，资源采集，采集接口，直播，搞笑段子">
    <meta name="description" content="解析，M3u8视频播放，资源采集，采集接口，直播，搞笑段子,java,springboot学习">
    <link rel="stylesheet" href="/bootstrap5/css/bootstrap.min.css">
    <title th:fragment="title">首页</title>
</head>
<div th:replace="~{layout/base::header}"></div>
<body>
<main th:fragment="content" role="main" class="container">
    <div class="jumbotron">
        <h1>404</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>
        <a class="btn btn-lg btn-primary" href="/" role="button">返回首页</a>
    </div>
</main>

</body>
</html>