<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/base">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="解析，M3u8视频播放，资源采集，采集接口，直播，搞笑段子">
    <meta name="description" content="解析，M3u8视频播放，资源采集，采集接口，直播，搞笑段子,java,springboot学习">
    <link rel="stylesheet" href="/bootstrap5/css/bootstrap.min.css">
    <title th:fragment="title">首页</title>
</head>
<body>
<div th:replace="~{layout/base::header}"></div>

<div th:fragment="content">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" th:text="${message}"></h1>
                    <p class="lead text-muted">SpringBoot Study</p>
                    <p>
                        <a href="https://github.com/orangbus/springboot-api" target="_blank" class="btn btn-primary my-2">下载源码</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="joke.jpg">
                            <div class="card-body text-center">
                                <p class="card-text ">搞笑段子、精选文章，应有尽有</p>
                                <small class="text-muted">累计：[[ ${joke_count} ]] +</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="video.jpg">
                            <div class="card-body text-center">
                                <p class="card-text ">海量视频资源</p>
                                <small class="text-muted">累计：[[ ${video_count} ]] +</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="demo.jpg">
                            <div class="card-body text-center">
                                <p class="card-text ">电视直播</p>
                                <small class="text-muted">累计：[[ ${channel_count} ]]</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div th:replace="~{layout/base::joke-templet}"></div>
                </div>
                <div class="row p-2">
                    <div th:replace="~{layout/base::video-templet}"></div>
                </div>
                <div class="row p-2">
                    <div th:replace="~{layout/base::channel-templet}"></div>
                </div>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{layout/base::about-footer}"></div>
<div th:replace="~{layout/base::bootstrap-js}"></div>
<div th:replace="~{layout/base::jquery-js}"></div>
</body>
</html>